{% extends 'base.html' %}
{% block page_title %}Detalhes da Nota{% endblock page_title %}

{% block content %}
    <style>
        .note-body p {
            text-indent: 2rem; /* Tamanho do parágrafo (aprox 4 espaços) */
            margin-bottom: 0.5rem; /* Espaço entre parágrafos */
            text-align: justify;
        }
    </style>
    <div class="container py-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="card-title display-4">{{ note.title }}</h1>
                
                <h6 class="card-subtitle mb-3 text-muted">
                    Criado em: {{ note.created_at|date:"d/m/Y H:i" }}
                </h6>
                
                <hr>
                
                <div class="card-text fs-5 note-body">
                    {{ note.body | linebreaks }}
                </div>
                
                <div class="mt-4">
                    <a href="{% url 'note_list' %}" class="btn btn-secondary">Voltar</a>
                    <a href="{% url 'note_update' note.pk %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'note_delete' note.pk %}" class="btn btn-danger">Excluir</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}